<div class="d-flex">
  <app-sidebar></app-sidebar>
  <div class="container">
    <div class="row p-3">
      <label for="search-gif">Search</label>
      <input type="text" name="search-gif" class="form-control" placeholder="Search gifs" />
    </div>
    <hr>
    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore,
        maxime magni dolorum culpa molestiae error aut autem accusamus, odio quo
        est pariatur molestias impedit exercitationem ipsum nesciunt, non
        perspiciatis ex? Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Ipsam consectetur nam dicta accusamus. Magnam tenetur sequi
        commodi architecto fugit cumque maxime porro eum quo? A, eos! Temporibus
        deserunt consequatur itaque.
      </div>
    </div>
  </div>
  <hr />
</div>
